.home {
  display: flex;
  

  .homeContainer {
    flex: 7;
    
    .d{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding:15px;
      background-color: rgba(201, 201, 201, 0.304);
      
      
      .innerD{
        background-color: white;
       

        .pop{
          position: absolute;
          left:0;
          top:0;
          bottom:0;
          right:0;
          min-height: 120vh !important;
          overflow-y: hidden !important;
          background: black;
          opacity:0.9;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color:white;
          transition: all ease 1.5s !important;
          transform: translateY(-2000px);

          &.tran{
            transform: translateY(0px);
          }
          
          .inpop{
            
            
            max-width:900px;
            margin:0 auto !important;
            .vali{
              width: 80%;
              text-align: center;
              background: white;
              margin-top: -250px !important;
              margin-left:80px !important;
              z-index:999 !important;
              position: relative;
              i{
                position: absolute;
                right:10px;
                top:10px;
                color: red !important;
                cursor:pointer;
                font-size: 18px;

              }
            }
           
          }
        }
        h6{
          
         text-transform: capitalize;
         letter-spacing: 0px ;
         position: absolute;
         margin:18px 0 10px 25px;
         font-weight: 600;
         font-size: 15px;
        }
        .tb{
          display: flex;
          flex-direction: column;
          width: 939px;
         
          margin:0 80px 0px;
          padding-left: 20px;
          
          margin-top: 2px;
          padding: 20px;
          thead{
           display: none;
            padding: 10px;
            border-bottom: 1px solid gray;
            tr{
              display: flex;
              justify-content: space-between;
              text-transform: bold;
              font-size: 20px;
              font-weight: 600;
            }
            
          }
          tbody{
            padding-left: 15px;

            tr{
              display: flex;
              text-transform: capitalize;
              justify-content: space-between;
              font-size: 15px;
              margin-top: 10px;

            }
          }
        }
      }
     
    }

    .widgets {
      margin-top:-20px ;
      display: flex;
      padding: 25px;
      gap: 20px;
      justify-content: center;
      align-items: center;
      .getB{
        transition: all ease 6s !important;
      }
      
    }

    

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
