
.in{
  float: left;
  margin-left: 10px;
  padding:10px;
  color:rgb(114, 111, 111);
  border: 0;
  border-bottom:2px solid rgb(114, 111, 111) ;
  outline: none;
  transition: all ease 0.5s;
 &:focus{
  border-bottom:2px solid rgb(28, 184, 80) ;
 }
}
select{
float:right;
margin-right: 12px !important;
}
.table {
  .bo{
    font-weight: 600;
    font-size: 10px !important;
    color: rgb(114, 111, 111);
    .col{
      text-transform: capitalize;
      transition: all ease 0.6s !important;
      font-size: larger;
      padding:10px;
     cursor: pointer;
     
      
    }
    &:hover{
     background-color: aliceblue;   
    }
   
   }
  .simple{
    border-top: 0px;
  }
  .tableCell{
   font-size: 15px !important;
   
   
   &.plays{
   .play{
      font-size: 8px;
      padding:5px;
      background-color: rgb(61, 119, 189);
      color:white;
      border-radius: 50%;
      text-align: center;
      margin-right: 5px;
      cursor: pointer;
    
   }
   .pause, .stop{
    font-size: 8px;
    padding:5px;
    background-color: black;
    color:white;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
   }
   }
   
   
  }
  .head{
    font-weight: 600;
    color: #000000;
    font-size: 12px;
    text-transform: capitalize;
  }
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }
 

  .status {
    padding: 4px !important;
    border-radius: 5px;

    &.approved {
      color: white;
      background-color: #089769;
      padding: 5px;
      border-radius: 50%;
    }
    &.pending {
      color: white;
      background-color: rgb(235, 196, 99);
      padding: 4px 8px !important;
     
      border-radius: 50%;
    }
    &.canceled {
      color: white;
      background-color: red;
      padding: 4px 6px !important;
      border-radius: 50%;
    }
  }
}

