.create-dateset-container {
  display: flex;
  flex-direction: column;
}

.create-dateset-container .dateset-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
}

.create-dateset-container .dateset-row > .dataset-item {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.create-dateset-container .dataset-footer {
  display: flex;
  flex-direction: row-reverse;
  padding-inline: 4rem;
}

.create-dateset-container .dataset-footer > * {
  margin-left: 1rem;
  padding-inline: 1rem;
  display: inline-block;
  width: fit-content;
}
